body {
  margin: 0;
  font-family: Arial, sans-serif;
  overflow-y: hidden;
  background-color: #f5f5f5;
  margin-bottom: 8vh;
}

.videos {
  width: 100%;
  padding-bottom: 100px;
  overflow-x: hidden;
}

.videos-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  margin: 0;
  max-height: calc(100vh - 100px);
  overflow-y: auto;
  width: 100%;
  margin-top: 25vh;
}

.videos-list::-webkit-scrollbar {
  display: none;
}

.video-item {
  flex: 1 1 calc(23% - 40px);
  max-width: calc(23% - 40px);
  margin: 20px;
  text-decoration: none;
  color: #333;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.video-item:hover {
  background-color: #f0f0f0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.video-thumbnail {
  width: 100%;
  height: auto;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.video-info {
  padding: 10px;
}

.video-title {
  margin-bottom: 5px;
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}

.video-description {
  font-size: 1rem;
  color: #666;
}

.watched .video-thumbnail {
  opacity: 0.6;
}

h2 {
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  color: #333;
  margin-top: 20px;
  margin-bottom: 10px;
}
