* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  color: #333;
  background-color: #f9f9f9; 
}

.video-page {
  display: flex;
  justify-content: space-between;
  width: 80vw;
  margin: 20px auto;
  margin-top: 60vh;
  padding: 20px;
  background-color: #fff; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  border-radius: 8px; 
}

.video-container {
  flex: 1;
  margin-right: 20px;
}

.video-container h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.video-container p {
  font-size: 16px;
  margin-bottom: 20px;
}

.video-thumbnail {
  width: 120px;
  height: 90px;
  object-fit: cover;
  border-radius: 4px;
  margin-right: 15px;
}

.video-info {
  display: flex;
  flex-direction: column;
}

.video-title {
  font-size: 18px;
  margin-bottom: 5px;
}

.video-description {
  font-size: 14px;
  color: #666;
}

.related-videos {
  flex: 1;
}

.related-videos h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.related-videos-list {
  height: 400px;
  overflow-y: auto;
}

.video-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  text-decoration: none;
  color: inherit;
  transition: background-color 0.3s ease;
}

.materials-section {
  margin-top: 20px;
}

.materials-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.material-item {
  background-color: #fff;
  padding: 15px;
  
}

.material-item h3 {
  font-size: 18px;
  margin-bottom: 5px;
}

.material-item p {
  font-size: 14px;
  margin-bottom: 10px;
}

.material-item a {
  font-size: 14px;
  color: #007bff;
  text-decoration: none;
}

.material-item a:hover {
  text-decoration: underline;
}

.text{
  font-size: 16px;
  color: #333;
}

.button {
  background-color: #68affc;
  color: white;
  border: none;
  padding: 12px 24px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s, transform 0.3s;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
}

.button:hover {
  transform: scale(1.05);
}

.button:active {
  background-color: #007bff;
  transform: scale(1);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}


@media (max-width: 768px) {
  .video-page {
    flex-direction: column;
  }

  .video-container,
  .related-videos {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .video-container h1 {
    font-size: 20px;
  }

  .video-container p {
    font-size: 14px;
  }

  .video-thumbnail {
    width: 100px;
    height: 75px;
  }

  .video-title {
    font-size: 16px;
  }

  .video-description {
    font-size: 12px;
  }
}

.video-item:hover {
  background-color: #f5f5f5;
}

.video-item .video-title,
.video-item .video-description {
  color: #333;
  text-decoration: none;
}

.video-item:hover .video-title,
.video-item:hover .video-description {
  text-decoration: underline;
}

