body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}

.videos {
  width: 100%;
  margin-top: 60px;
  padding-bottom: 100px;
  margin-top: 40vh;
  margin-bottom: 10vh;
}

.videos-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  margin: 0;
  max-height: calc(100vh - 100px);
  width: 100%;
}

.videos-list::-webkit-scrollbar {
  display: none;
}

.video-item {
  width: 20vw;
  padding: 10px;
  margin: 20px;
  text-decoration: none;
  color: #333;
  background-color: #fff;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.video-item:hover {
  background-color: #f0f0f0;
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.video-thumbnail {
  width: 100%;
  height: 400vh;
}

.video-info {
  padding: 10px;
}

.video-title {
  text-align: left;
  margin-bottom: 5px;
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}

.video-description,
.video-tags {
  font-size: 1rem;
  color: #666;
}

.watched .video-thumbnail {
  opacity: 0.6;
}

h2 {
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  color: #333;
  margin-top: 20px;
  margin-bottom: 10px;
}

@media screen and (max-width: 1024px) {
  .video-item {
    width: 30vw;
    height: 20vh;
    padding: 2.5vw;
    margin: 2.5vw;
  }

  .video-info {
    padding: 2.5vw;
  }

  .video-title {
    font-size: 4vw;
    margin-bottom: 2vw;
  }

  .video-description,
  .video-tags {
    font-size: 2.5vw;
  }
}

@media screen and (max-width: 900px) {
  .video-item {
    width: 30vw;
    padding: 3vw;
    margin: 3vw;
  }

  .video-info {
    padding: 3vw;
  }

  .video-title {
    font-size: 5vw;
    margin-bottom: 2vw;
  }

  .video-description,
  .video-tags {
    font-size: 3vw;
  }
}

@media screen and (max-width: 768px) {
  .video-item {
    width: 45vw;
    padding: 4vw;
    margin: 4vw;
  }

  .video-info {
    padding: 4vw;
  }

  .video-title {
    font-size: 6vw;
    margin-bottom: 2vw;
  }

  .video-description,
  .video-tags {
    font-size: 4vw;
  }
}

@media screen and (max-width: 480px) {
  .video-item {
    width: 90vw;
    padding: 6vw;
    margin: 6vw;
  }

  .video-info {
    padding: 6vw;
  }

  .video-title {
    font-size: 8vw;
    margin-bottom: 3vw;
  }

  .video-description,
  .video-tags {
    font-size: 6vw;
  }
}
