body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}

.videos {
  width: 100%;
  margin-top: 30vh; /* Adjust this value if needed to create space for the header and tabs */
  padding-bottom: 100px;
  margin-bottom: 10vh;
}

.video-history-tabs {
  position: fixed;
  top: 9%;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
  z-index: 999;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100vw;
}

.left {
  flex: 1;
  display: flex;
  justify-content: flex-start;
}

.center {
  flex: 1;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.right {
  flex: 1;
}

.filter {
  display: flex;
  align-items: center;
}

.videos-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  margin: 0;
  max-height: calc(100vh - 100px);
  width: 100%;
}

.videos-list::-webkit-scrollbar {
  display: none;
}

.video-item {
  width: 20vw;
  padding: 10px;
  margin: 20px;
  text-decoration: none;
  color: #333;
  background-color: #fff;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.video-item:hover {
  background-color: #f0f0f0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.video-thumbnail {
  width: 100%;
  height: 400vh;
}

.video-info {
  padding: 10px;
}

.video-title {
  text-align: left;
  margin-bottom: 5px;
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}

.video-description,
.video-tags {
  font-size: 1rem;
  color: #666;
}

h2 {
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  color: #333;
  margin-top: 20px;
  margin-bottom: 10px;
}

.filter {
  flex-direction: column;
}

select {
  appearance: none;
  background-color: white;
  border: 2px solid #4d4d4d;
  border-radius: 4px;
  padding: 8px 12px;
  font-size: 16px;
  line-height: 1.5;
  width: 100%;
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

select:focus {
  outline: none;
  box-shadow: 0 0 2px 1px rgba(68, 150, 243, 0.5);
}

select::-ms-expand {
  display: none;
}

select:focus::-ms-value {
  color: #4d4d4d;
  background: white;
}

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #4d4d4d;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: Arial, sans-serif;
}

.pagination button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pagination button:hover {
  background-color: #0056b3;
}

.pagination button:disabled {
  background-color: #d6d6d6;
  cursor: not-allowed;
}

.pagination span {
  margin: 0 10px;
  font-size: 1.2em;
}

@media screen and (max-width: 1024px) {
  .videos {
    margin-top: 135vh;
  }
  .video-item {
    width: 30vw;
    height: 20vh;
    padding: 2.5vw;
    margin: 2.5vw;
  }

  .video-info {
    padding: 2.5vw;
  }

  .video-title {
    font-size: 4vw;
    margin-bottom: 2vw;
  }

  .video-description,
  .video-tags {
    font-size: 2.5vw;
  }
  .video-history-tabs {
    position: fixed;
    top: 11.3%;
    left: 0;
    align-items: center;
    background-color: #fff;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100vw;
  }
  .pagination {
    margin-top: 80vh;
  }
}

@media screen and (max-width: 900px) {
  .videos {
    margin-top: 80vh;
  }
  .video-item {
    width: 30vw;
    padding: 3vw;
    margin: 3vw;
  }

  .video-info {
    padding: 3vw;
  }

  .video-title {
    font-size: 5vw;
    margin-bottom: 2vw;
  }

  .video-description,
  .video-tags {
    font-size: 3vw;
  }
  .video-history-tabs {
    position: fixed;
    top: 11%;
    left: 0;
    align-items: center;
    background-color: #fff;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100vw;
  }
}

@media screen and (max-width: 768px) {
  .videos {
    margin-top: 280vh;
  }

  .video-item {
    width: 45vw;
    padding: 4vw;
    margin: 4vw;
  }

  .video-info {
    padding: 4vw;
  }

  .video-title {
    font-size: 6vw;
    margin-bottom: 2vw;
  }

  .video-description,
  .video-tags {
    font-size: 4vw;
  }
  .video-history-tabs {
    position: fixed;
    top: 7%;
    left: 0;
    align-items: center;
    background-color: #fff;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100vw;
  }
  .pagination {
    margin-top: 230vh;
  }
}

@media screen and (max-width: 480px) {
  .video-item {
    width: 90vw;
    padding: 6vw;
    margin: 6vw;
  }

  .video-info {
    padding: 6vw;
  }

  .video-title {
    font-size: 8vw;
    margin-bottom: 3vw;
  }

  .video-description,
  .video-tags {
    font-size: 6vw;
  }
}
