.header {
  width: 100%;
  background-color: #074b94;
  color: #ffffff;
  padding: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

.header-column {
  flex: 1;
  display: flex;
  align-items: center;
}

.left-section {
  justify-content: flex-start;
}

.right-section {
  justify-content: flex-end;
}

a {
  color: #ffffff;
  text-decoration: none;
}

* {
  margin: 0;
}

.user-info span,
.login span {
  color: #ffffff;
  cursor: pointer;
}

.user-info span:hover {
  text-decoration: underline;
}

.header-column .center-section h1 {
  color: #ffffff;
}

@media (max-width: 768px) {
  .header {
    padding: 10px;
  }
  h1 {
    font-size: 1.5rem;
  }
  .user-info,
  .login {
    font-size: 0.8rem;
  }
  .user-info .fa-user,
  .login .fa-user {
    margin-left: 10px;
  }
}

.header-links {
  display: flex;
  align-items: center;
  width: 30%;
  gap: 10px;
  margin: auto;
  margin-left: 30px;
  align-items: center;
}

.header-links h3 {
  font-weight: normal;
  font-size: 0.9rem;
}
