.header {
  width: 100%;
  background-color: #074b94;
  color: #ffffff;
  padding: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
}

.header-column {
  flex: 1;
  display: flex;
  align-items: center;
}

.left-section {
  justify-content: flex-start;
}

.right-section {
  justify-content: flex-end;
  position: relative;
}

a {
  color: #ffffff;
  text-decoration: none;
}

* {
  margin: 0;
}

.user-info .profile-picture,
.login .profile-picture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
  border: 2px solid #ffffff;
}

.user-info .profile-picture:hover,
.login .profile-picture:hover {
  border-color: #d1d1d1;
}

.header-column .center-section h1 {
  color: #ffffff;
}

@media (max-width: 768px) {
  .header {
    padding: 10px;
  }
  h1 {
    font-size: 1.5rem;
  }
  .user-info,
  .login {
    font-size: 0.8rem;
  }
  .user-info .fa-user,
  .login .fa-user {
    margin-left: 10px;
  }
}

.header-links {
  display: flex;
  align-items: center;
  width: 30%;
  gap: 10px;
  margin: auto;
  margin-left: 30px;
  align-items: center;
}

.header-links h3 {
  font-weight: normal;
  font-size: 0.9rem;
}

.popup-menu {
  position: absolute;
  right: 0;
  top: 100%;
  background-color: #ffffff;
  color: #000000;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  overflow: hidden;
  z-index: 999;
}

.popup-item {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: black;
}

.popup-item:hover {
  background-color: #f0f0f0;
}

.popup-item a {
  color: inherit;
  text-decoration: none;
}
