.user-profile-container {
  width: 600px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #f9f9f9;
}

.profile-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.profile-field label {
  font-weight: bold;
  margin-bottom: 5px;
}

.profile-field span {
  margin-bottom: 10px;
}

.profile-field .MuiButton-root {
  margin-bottom: 10px;
  align-self: flex-start;
}

.invalid {
  border-color: red;
}

.password-rules {
  margin-top: -10px;
}

.password-rules h3 {
  margin-bottom: 10px;
}

.password-rules ul {
  list-style-type: none;
  padding: 0;
}

.password-rules li {
  margin-bottom: 5px;
}

.password-rules li.valid {
  display: none;
}

.password-rules li.invalid {
  color: red;
}

.autocomplete-container {
  width: 100%;
}

.autocomplete-input {
  width: 100%;
  background-color: #fff;
}

.autocomplete-listbox {
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.autocomplete-option {
  padding: 10px;
  cursor: pointer;
}

.autocomplete-option:hover {
  background-color: #f0f0f0;
}

.modal-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: white;
  border: 2px solid #000;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.custom-input1 {
  width: 93%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
  font-size: 14px;
}

.custom-input1:focus {
  outline: none;
  border-color: black; 
}