.user-profile-container {
  width: 500px;
  margin: auto;
  margin-top: 128px;
  padding: 40px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.user-profile-container:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.profile-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.profile-field label {
  font-weight: bold;
  margin-bottom: 5px;
}

.profile-field span {
  margin-bottom: 10px;
}

.profile-field .MuiButton-root {
  margin-bottom: 10px;
  align-self: flex-start;
}

.invalid {
  border-color: red;
}

.password-rules {
  margin-top: -10px;
}

.password-rules h3 {
  margin-bottom: 10px;
}

.password-rules ul {
  list-style-type: none;
  padding: 0;
}

.password-rules li {
  margin-bottom: 5px;
}

.password-rules li.valid {
  display: none;
}

.password-rules li.invalid {
  color: red;
}

.autocomplete-container {
  width: 100%;
}

.autocomplete-input {
  width: 100%;
  background-color: #fff;
}

.autocomplete-listbox {
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.autocomplete-option {
  padding: 10px;
  cursor: pointer;
}

.autocomplete-option:hover {
  background-color: #f0f0f0;
}

.modal-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: white;
  border: 2px solid #000;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.custom-input {
  width: 93.6%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
  font-size: 14px;
}

.custom-input:focus {
  outline: none;
  border-color: black;
}

.profile-picture-container {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid #ccc;
  margin: 0 auto 20px; 
  cursor: pointer;
}


.profile-picture-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-picture-container .upload-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.5);
  display: none;
}

.profile-picture-container:hover .upload-icon {
  display: block;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  padding: 10px;
}

.hidden-file-input {
  display: none;
}

@media (max-width: 800px) {
  .user-profile-container {
    width: 100%;
    margin: 20px;
  }
}
