.register-container {
  margin-top: 10vh;
}

.autocomplete-container {
  width: 100%;
}

.autocomplete-input {
  width: 100%;
  background-color: #fff;
}

.autocomplete-listbox {
  border: 1px solid #ced4da;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.autocomplete-option {
  padding: 10px;
  cursor: pointer;
}

.autocomplete-option:hover {
  background-color: #f0f0f0;
}

input[type="password"].invalid {
  border-color: red;
}

.password-rules {
  margin-top: -20px;
}

.password-rules h3 {
  margin-bottom: 10px;
}

.password-rules ul {
  list-style-type: none;
  padding: 0;
}

.password-rules li {
  margin-bottom: 5px;
}

.password-rules li.valid {
  color: green;
}

.password-rules li.invalid {
  color: red;
}

#combo-box-demo {
  border: none;
}
