body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: gainsboro;
    font-family: 'Montserrat', sans-serif;
  }
  
  .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap; 
    max-width: 1000px; 
    margin: 0 auto; 
    padding: 20px; 
    flex-direction: row;
  }
  
  .square {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 1; 
    width: 35vh; 
    height: 35vh;
    margin: 16px;
    border-radius: 8px;
    transition: all 0.3s ease;
    background: linear-gradient(135deg, #ffffff, #e3e3e3);
    &:hover {
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
      }
    cursor: pointer;
  }
  
  .square-text {
    color: black;
    font-weight: bold;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
  }

  .square-text .fa-icon {
    color: #68affc;
  }
  
  @media (max-width: 390px) {
    .container {
      flex-direction: row;
    }
    .square {
      width: 70vw; 
      height: 70vw; 
    }
    .square-text {
      font-size: 10px; 
    }
  }
  
  @media (max-width: 768px) {
    .container {
      flex-direction: row;
    }
    .square {
      width: 50vw; 
      height: 50vw; 
    }
    .square-text {
      font-size: 14px; 
    }
  }
  
  @media (max-width: 1080px) {
    .container {
      flex-direction: row;
    }
    .square {
      width: 30vw; 
      height: 30vw; 
    }
    .square-text {
      font-size: 18px; 
    }
  }
  
  