.search-bar {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.search-bar form {
  display: flex;
  align-items: center;
}

.search-bar input {
  padding: 8px;
  font-size: 16px;

  border-radius: 4px;
  margin-right: 8px;
}

.search-bar button {
  padding: 8px 16px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.search-bar button:hover {
  background-color: #0056b3;
}
