.thread-detail {
  width: 40vw;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  height: 88vh;
  margin-top: 8vh;
}

.thread-detail::-webkit-scrollbar {
  display: none;
}

.thread-detail h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #333;
}

.thread-detail p {
  font-size: 1em;
  color: #666;
}

.thread-detail textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

.create-response-button {
  display: inline-block;
  padding: 10px 20px;
  margin-bottom: 20px;
  font-size: 1em;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.create-response-button:hover {
  background-color: #0056b3;
}

.posts {
  margin-top: 20px;
}

.post {
  padding: 15px;
  margin-bottom: 10px;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
}

.post p {
  margin: 0;
}

.post p strong {
  display: block;
  margin-bottom: 5px;
  color: #333;
}
