body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: gainsboro;
  font-family: 'Montserrat', sans-serif;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex: 1 1 300px;
  width: 40vh;
  height: 40vh;
  padding: 30px;
  margin: 16px;
  border-radius: 8px;
  transition: all 0.3s ease;
  background: linear-gradient(135deg, #ffffff, #e3e3e3);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

  &:hover {
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.4);
  }

  @media (max-width: 768px) {
    width: 60%;
  }

}


.square-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%; /* Ocupa toda a altura do pai (.square) */
  color: black;
  font-weight: bold;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
}