body {
  background: linear-gradient(90deg, #d1d1d1, #d1d1d1);
  color: #f0f0f0;
}

.admin-page {
  margin-top: 10vh;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100vw;
  margin: 0 auto;
  padding: 20px;
}

.square {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex: 1;
  width: 35vh;
  height: 35vh;
  margin: 16px;
  border-radius: 8px;
  transition: all 0.3s ease;
  background: linear-gradient(135deg, #ffffff, #e3e3e3);
  cursor: pointer;
}

.square:hover {
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.square-text {
  color: #525252;
  font-weight: bold;
  font-size: 16px;
  font-family: "Lato", sans-serif;
}

.square-text .fa-icon {
  color: #074b94;
}

.logout-button {
  margin: 90px 0 0 0;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
  transition: background-color 0.3s, transform 0.3s;
}

.logout-button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.logout-button:active {
  background-color: #003f7f;
}

.Logout {
  padding: 16px;
}

@media (max-width: 390px) {
  .square {
    width: 70vw;
    height: 70vw;
  }
  .square-text {
    font-size: 10px;
  }
}

@media (max-width: 768px) {
  .square {
    width: 50vw;
    height: 50vw;
  }
  .square-text {
    font-size: 14px;
  }
}

@media (max-width: 1080px) {
  .square {
    width: 30vw;
    height: 30vw;
  }
  .square-text {
    font-size: 18px;
  }
}
