/* Estilos para o aplicativo de fóruns */

/* Estilo global do aplicativo */
.app {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

/* Estilo da lista de threads */
.thread-list {
  margin-top: 20px;
  max-height: 400px; /* Definindo altura máxima para a lista de threads */
  overflow-y: auto; /* Adicionando barra de rolagem vertical quando necessário */
  
}

.thread-list::-webkit-scrollbar{
  display: none;
}

/* Estilo de uma thread individual na lista */
.thread {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
}

/* Estilo do nome de usuário da thread */
.thread-username {
  font-weight: bold;
}

/* Estilo do link da thread */
.thread-link {
  text-decoration: none;
  color: #333;
}

/* Estilo de hover do link da thread */
.thread-link:hover {
  background-color: #e0e0e0;
}

/* Estilo do detalhe de uma thread */
.thread-detail {
  border: 1px solid #ccc;
  padding: 20px;
  margin-top: 20px;
  background-color: #f9f9f9;
}

/* Estilo do container de criação de thread */
.create-thread-container {
  margin-bottom: 20px;
}

/* Estilo para mensagem de erro */
.error {
  color: red;
  margin-bottom: 10px;
}

/* Estilo do formulário de criação de nova thread */
.new-thread-form {
  background-color: #f9f9f9;
  padding: 20px;
  border: 1px solid #ccc;
}

/* Estilo para input de texto no formulário */
.new-thread-form input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

/* Estilo para botão no formulário */
.new-thread-form button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

/* Estilo de hover para botão no formulário */
.new-thread-form button:hover {
  background-color: #0056b3;
}

/* Estilo para cortar texto longo */
.thread h2,
.thread p,
.thread-detail h2,
.thread-detail p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
