.app {
  max-width: 800px;
  padding: 20px;
  font-family: Arial, sans-serif;
  margin-top: 60vh;
  margin-bottom: 10vh;
}

.thread-list {
  max-height: calc(100vh - 100px); /* Adjust the value as needed */
}

.thread-list::-webkit-scrollbar {
  display: none;
}

.thread {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
}

.thread-username {
  font-weight: bold;
}

.thread-link {
  text-decoration: none;
  color: #333;
}

.thread-link:hover {
  background-color: #e0e0e0;
}

.thread-detail {
  border: 1px solid #ccc;
  padding: 20px;
  margin-top: 20px;
  background-color: #f9f9f9;
}

.create-thread-container {
  margin-bottom: 20px;
}

.error {
  color: red;
  margin-bottom: 10px;
}

.new-thread-form-container {
  margin-bottom: 20px;
}

.new-thread-form {
  background-color: #f9f9f9;
  padding: 20px;
  border: 1px solid #ccc;
}

.new-thread-form input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.new-thread-form button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.new-thread-form button:hover {
  background-color: #0056b3;
}

.thread h2,
.thread p,
.thread-detail h2,
.thread-detail p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
