.app {
  width: 60vw;
  padding: 20px;
  font-family: Arial, sans-serif;
  margin-top: 20vh;
}

.thread-list {
  max-height: calc(100vh - 100px);
}

.thread-list::-webkit-scrollbar {
  display: none;
}

.thread {
  border: 1px solid #ddd;
  padding: 15px;
  margin-bottom: 15px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.thread:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.thread-username {
  font-weight: bold;
  color: #555;
  margin-bottom: 10px;
}

.thread-link {
  text-decoration: none;
  color: #333;
  transition: color 0.2s ease;
}

.thread-link:hover {
  color: #074b94;
}

.create-thread-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

.create-thread-container button {
  padding: 12px 24px;
  background-color: #074b94;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.create-thread-container button:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.error {
  color: red;
  margin-bottom: 10px;
}

.new-thread-form {
  background-color: #ffffff;
  padding: 20px;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  border-radius: 8px;
}

.new-thread-form input[type="text"] {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
}

.new-thread-form-container {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
}

.new-thread-form button {
  padding: 12px 24px;
  background-color: #074b94;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.thread h2,
.thread p,
.thread-detail h2,
.thread-detail p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  width: 40vw;
  max-width: 80%;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}
