form {
  width: 100%;
  max-width: 500px;
  margin: auto;
  padding: 40px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

form:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: 600;
  color: #333;
}

input[type="text"],
input[type="password"] {
  width: calc(100% - 24px);
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  transition: all 0.3s ease;
}

input[type="text"]:focus,
input[type="password"]:focus {
  border-color: #000;
  background-color: #fff;
}

.autocomplete-container {
  margin-bottom: 20px;
}

.autocomplete-input .MuiOutlinedInput-root {
  width: calc(100% - 24px);
  padding: 12px;
  border-radius: 5px;
  transition: all 0.3s ease;
}



input[type="submit"] {
  width: 100%;
  padding: 12px;
  background-color: #000;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #4f4f4f;
}

p {
  color: #d9534f;
  font-weight: bold;
}

.autocomplete-input {
  border: none;
}

@media (max-width: 768px) {
  form {
      padding: 30px;
  }
  label {
      font-size: 0.9rem;
  }
  input[type="text"],
  input[type="password"] {
      padding: 10px;
      margin-bottom: 15px;
  }
  .autocomplete-input .MuiOutlinedInput-root {
      padding: 10px;
  }
  input[type="submit"] {
      padding: 10px;
  }
}
